* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(img/banner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #333333;
    padding: 10px 0;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

ul li {
    display: inline;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

@media (max-width: 768px) {
    ul {
        flex-direction: column;
        align-items: center;
    }

    ul li a {
        padding: 15px;
        text-align: center;
        width: 100%;
    }
}

#Eflyer {
    max-width: 100%; /* Ajuste para manter o tamanho responsivo */
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha ao topo */
    height: 100vh;
    padding-top: 20px; /* Pequeno espaçamento do topo */
}
