* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(img/banner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #333333;
    padding: 10px 0;
    color: white;
}

.top-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.top-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f1f1f1;
}

.menu-toggle img {
    width: 30px;
    cursor: pointer;
}

.logo-container img {
    max-width: 150px;
}

.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
}

.category-dropdown {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar input {
    padding: 10px;
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    background-color: orange;
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.search-button img {
    width: 20px;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons > div {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.header-icons img {
    width: 25px;
    margin-right: 5px;
}

.header-icons span {
    color: black;
    font-weight: bold;
}

@media (max-width: 768px) {
    .top-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .main-header {
        flex-direction: column;
        align-items: center;
    }

    .search-bar {
        flex-direction: column;
        width: 100%;
    }

    .header-icons {
        margin-top: 10px;
    }
}
